/*
main_left
main_left__list
settings
*/
.main_left {
    grid-area: m_l;

}
.main_left__list {
    font-size: 25px;
    font-weight: 400;
    padding-top: 20px;
    padding-right: 20px;
}

.main_left__list li {
   cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
 text-decoration: none;
 color: black;
}
a:hover {
    color:rgb(53, 167, 110);
    transition: 0.2s;
}

a.active {
    color:rgb(53, 167, 110);
}

.settings {
    margin-top: 20px;
}
.Friends_1 {
    padding: 10px;
    padding-left: 0px;
}
.Friends_1 p{
    text-align: start;
    padding-top: 0;
    margin: 0;
}
.main_left__Friends {
display: flex;
flex-direction: column;

}
.Friends__block {
    display: flex;
    text-align: start;
}
.Friends__block img {
    text-indent: -100vw;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
}
.Friends__header {
    font-size: 25px;
    padding-top: 50px;
    margin: 0;
}