.login__wrapper {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin: 0;
    }
    input {
        background-color: white;
        outline: none;
        margin: 3px;
        padding: 5px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        background-color: transparent;
        box-shadow: 0 0 7px rgba(0,0,0,0.9);
    }
    
}
.login__content {
    
    padding: 25px;
    border: 2px solid rgba(53,167,110, 0.2);
    form {
        min-width: 370px;
        max-width: 370px;
    }
}
.login__header h3 {
    margin: 0;
    margin-bottom: 20px;
}
.login__button {
    display: flex;
    flex-direction: column;
}
.login__button button {
    margin-top: 10px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    
}
.login__button button:hover {
    background: rgb(53, 167, 110);
}
.login__form {
    .checkbox {
        padding-top: 5px;
        box-shadow: none;
    }
}

.error {
    color: red;
}